
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Italianno&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    position: relative;
}

.container{
    width: 30vw;
    height: 35vh;
    padding: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 35%;
    top: 35%;
    border-radius: 12px;
    box-shadow: 5px 5px 20px gray;
}

.container h3{
    font-family: "Italiana", sans-serif;
    position: relative;
    top: 0;
}

#quote{
    margin-top: 30px;
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-size: 30px;
}

#generate{
    padding: 5px 15px;
    background-color: #98e9ff;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 34px;
    margin-top: 30px;
    cursor: pointer;
}